@import "../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}